.badgeLayout {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
    ion-badge {
        color: white;
        font-size: 20px;
        border-radius: 25px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

ion-toolbar {
    background: #1E2631;
}
// ion-toolbar {
//     // background: #1E2631;
//     --background: var(--ion-color-dark);
// }

// ion-title {
//     color: var(--ion-color-light);
// }
