<div class="errorDisplayLayout" [class.keyboard-up]="isKeyboardOpen()">
  <div>
    <ion-text class="infoSign" (click)="actionClicked.emit()">
      @switch (infoLayout()) {
        @case ('FindABibleTerm') {
          <p>
            <ion-icon name="search-outline" id="searchIcon"></ion-icon>
          </p>
          <h3 style="margin-top: -20px;">Busca un término en la Biblia</h3>
        }

        @case ('NoResultsFound') {
          <p>
            <ion-icon id="searchIcon" src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><path d='M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z' fill='none' stroke='currentColor' stroke-miterlimit='10' stroke-width='32'/><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32' d='M338.29 338.29L448 448'/><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M176 176l90 90M266 176l-90 90'/></svg>"></ion-icon>
          </p>
          <h3 style="margin-top: -20px;">No se han encontrado resultados</h3>
        }

        @case ('WriteAtLeastThreeWords') {
          <p>
            <ion-icon id="searchIcon" src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><path d='M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z' fill='none' stroke='currentColor' stroke-miterlimit='10' stroke-width='32'/><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32' d='M338.29 338.29L448 448'/><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M176 176l90 90M266 176l-90 90'/></svg>"></ion-icon>
          </p>
          <h3 style="margin-top: -20px;">Debe escribir al menos tres letras</h3>
        }

        @case ('NoInternetConnection') {
          <p>
            <ion-icon src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><path d='M415.82 221a221.72 221.72 0 00-319.64 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M357.65 279a140 140 0 00-203.3 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M297.83 338.83a58.2 58.2 0 00-83.66 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M256 416a23.94 23.94 0 1123.94-23.94A24 24 0 01256 416z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M48 48L464 464' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/></svg>"></ion-icon>
          </p>
          <h3 style="margin-top: -20px;">No hay conexión a internet</h3>
        }
      }
    </ion-text>
  </div>
</div>