.badgeLayout {
    padding: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    ion-badge {
        color: white;
        font-size: 20px;
        border-radius: 25px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .light-badge {
        background-color: var(--ion-color-dark);
        color: var(--ion-color-light);
    }
}

ion-button {
    color: white;
}