@if (message) {
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Elija el formato para compartir la predicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="options" class="ion-justify-content-around">
    <ion-radio-group [value]="selectedIndex">
      @for (option of shareOptions; track $index) {
        <ion-radio [value]="$index" labelPlacement="end" (ionFocus)="selectOption($index)">{{option.format}}</ion-radio>
      }
    </ion-radio-group>
  </div>

  <ion-input label="Título:" type="text" readonly="true" [value]="shareOptions[selectedIndex].title"></ion-input>
  <ion-input label="Url:" type="url" [value]="shareOptions[selectedIndex].url"></ion-input>
  <ion-item>
    <ion-label position="floating">Texto:</ion-label>
    <ion-textarea
      placeholder="Texto a compartir"
      [autoGrow]="true"
      [value]="shareOptions[selectedIndex].text"
    >
    </ion-textarea>
  </ion-item>
</ion-content>
}