@if (message) {
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Compartir</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="options" class="ion-justify-content-around">
    <ion-radio-group [value]="selectedIndex" class="custom-radio-button-group">
      @for (option of shareOptions; track $index) {
      <ion-radio [value]="$index" labelPlacement="end" (ionFocus)="selectOption($index)">{{option.format}}</ion-radio>
      }
    </ion-radio-group>
  </div>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input label="Título:" labelPlacement="floating" type="text" readonly="true" [value]="shareOptions[selectedIndex].title"></ion-input>
      </ion-item>
        
      <ion-item>
        <ion-input label="Url:" labelPlacement="floating" type="url" [value]="shareOptions[selectedIndex].url" disabled="true"></ion-input>
      </ion-item>
        
      <ion-item>
        <ion-textarea label="Texto:" labelPlacement="floating" (ionBlur)="updateOptionText($event, selectedIndex)" placeholder="Texto a compartir" [autoGrow]="true" [value]="shareOptions[selectedIndex].text">
        </ion-textarea>
      </ion-item>

    </ion-list>
    <ion-button (click)="accept()" expand="block" style="color: white;">Aceptar</ion-button>
    <ion-button (click)="cancel()" expand="block" style="color: white;" color="light">Cancelar</ion-button>
  </ion-card>
  
</ion-content>
}