.divFiltros {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#checkBox-layout {
    padding-left: 8px;
    font-size: small;
    margin-top: 7px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7px;
    color: white;
}

.btnResetFilters {
    display: flex;
    justify-content: space-between;
}

.cardHeader {
    width: fit-content;

    ion-badge {
        padding-left: 10px;
        padding-right: 10px;
    }
}

p {
    margin-top: -15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    color: white;
}

.accordionHeader {
    // --color: red;
    // --background-color: rgba(var(--ion-item-background), $alpha: 0) !important;
    // color: rgba(var(--ion-item-background), $alpha: 0)rgba(var(--ion-item-background), $alpha: 0);
    --ion-item-background: transparent !important;
    
    &::part(native) {
        // border-radius: 10px;
        border: 1px lightgray;
        border-style: solid none solid none;
    }
}