<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-img src="../assets/icon/favicon.png" style="width: 35px; margin-left: 10px;"></ion-img>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-grid>
        <!-- Tema Claro/Oscuro -->
        <ion-row (click)="core.settings.toggleTheme()">
          <ion-col size="10" class="align-center">
            <ion-icon name="contrast-outline" size="medium"></ion-icon>
            <ion-label class="ion-margin-start"> Tema oscuro</ion-label>
          </ion-col>
          <ion-col size="1" class="align-center">
            <ion-toggle [checked]="this.core.settings.theme === 'dark'"></ion-toggle>
          </ion-col>
        </ion-row>

        <!-- Mostrar títulos bíblicos -->
        <ion-row (click)="core.settings.toggleBibleTitles()" class="ion-margin-top">
          <ion-col size="10" class="align-center">
            <ion-icon name="text-outline" size="medium"></ion-icon>
            <ion-label class="ion-margin-start"> Mostrar títulos bíblicos</ion-label>
          </ion-col>
          <ion-col size="1" class="align-center">
            <ion-toggle [checked]="this.core.settings.showBibleTittles === true"></ion-toggle>
          </ion-col>
        </ion-row>

        <!-- Mostrar color de fondo en la Biblia -->
        <ion-row (click)="core.settings.toggleBibleBackgroundColor()" class="ion-margin-top">
          <ion-col size="10" class="align-center">
            <ion-icon name="color-fill-outline" size="medium"></ion-icon>
            <ion-label class="ion-margin-start"> Mostrar color de fondo en la Biblia</ion-label>
          </ion-col>
          <ion-col size="1" class="align-center">
            <ion-toggle [checked]="this.core.settings.showBibleBackgroundColor === true"></ion-toggle>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-list>
  </ion-card>

</ion-content>