.align-center {
    display: flex;
    align-items: center;
}

ion-accordion {
    margin-bottom: 15px;
}

.fontTypeButton {
    --padding-end: 7px;
    --padding-start: 7px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --color: white;
}

.aestheticTypeButton {
    font-family: "NotoSerif", sans-serif;
    text-transform: none;
    font-size: 15px;
}

.simpleTypeButton {
    font-family: "NotoSans", sans-serif;
    text-transform: none;
    font-size: 15px;
}