.align-center {
    display: flex;
    align-items: center;
}

.fontTypeButton {
    --padding-end: 3px;
    --padding-start: 3px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --color: white;
}