<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Predicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    animated="true"
    placeholder="Buscar por título"
    show-clear-button="always"
    clear-icon="close-outline"
    [debounce]="1000"
    (ionInput)="searchInput($event)"
    (ionClear)="getAllMessages(); rbSelected = 'all'"
    [(ngModel)]="searchQuery"
  ></ion-searchbar>
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event); rbSelected = 'all'; searchQuery = ''">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- filtros -->
  <div class="divFiltros">
    <div style="padding-left: 8px; font-size: small; margin-top: 7px; display: flex; justify-content: space-around; margin-bottom: 7px;">
        <ion-radio-group [value]="rbSelected" style="display: flex; font-size: small; gap: 16px;" (ionFocus)="rbSelection($event)">
          <ion-radio value="listened" labelPlacement="end">Escuchadas</ion-radio><br>
          <ion-radio value="pending" labelPlacement="end">Pendientes</ion-radio><br>
          <ion-radio value="all" labelPlacement="end">Todas</ion-radio><br>
        </ion-radio-group>
    </div>
    <div class="filtros">
      <div button id="open-modal" class="action">
        <span>Filtros</span>
        <ion-icon name="options-outline" size="large"></ion-icon>
      </div>
      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Filtrar</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true"
                  >Confirmar</ion-button
                >
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form [formGroup]="filterForm">
              <ion-item>
                <ion-select
                  label="Predicador"
                  label-placement="floating"
                  formControlName="speaker"
                >
                  @for (speaker of this.restService.speakerList ; track
                  speaker.id) {
                  <ion-select-option [value]="speaker.id"
                    >{{ speaker.name }}</ion-select-option
                  >
                  }
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  label="Libro"
                  label-placement="floating"
                  formControlName="book"
                >
                  @for (book of this.restService.bookList ; track book.id) {
                  <ion-select-option [value]="book.id"
                    >{{ book.name }}</ion-select-option
                  >
                  }
                </ion-select>
              </ion-item>
              <!-- fecha desde -->
              <ion-item id="date" style="width: 100%">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                  "
                >
                  <div style="display: flex; gap: 14px">
                    <ion-label>Fecha</ion-label>
                    <ion-icon name="calendar-outline"></ion-icon>
                  </div>
                  <div>
                    <ion-input
                      style="margin-left: auto"
                      [value]="filterForm.get('dateFrom')?.value | date: 'dd.MM.yyyy'"
                    ></ion-input>
                  </div>
                </div>
                <ion-popover trigger="date">
                  <ng-template>
                    <ion-datetime
                      presentation="date"
                      formControlName="dateFrom"
                      size="cover"
                      firstDayOfWeek="1"
                    ></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <!-- FIN fecha desde -->
              <!-- opcion fecha fin -->
              <!-- @if (filterForm.get('dateFrom')?.value) {
                  <ion-item id="dateTo" style="width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%">
                      <div style="display: flex; gap: 14px;">
                        <ion-label>Fecha hasta</ion-label>
                        <ion-icon name="calendar-outline"></ion-icon>
                      </div>
                      <div>
                        <ion-input style="margin-left: auto;" [value]="filterForm.get('dateTo')?.value | date: 'dd.MM.yyyy'"></ion-input>
                      </div>
                    </div>
                    <ion-popover trigger="dateTo">
                      <ng-template>
                        <ion-datetime
                          presentation="date"
                          formControlName="dateTo"
                          size="cover"
                          firstDayOfWeek="1"
                          [min]="filterForm.get('dateTo')?.value"
                        ></ion-datetime>
                      </ng-template>
                    </ion-popover>
                  </ion-item>
                } -->
              <div class="btnResetFilters">
                <ion-button fill="clear" (click)="resetFiltros();"
                  >Limpiar filtros
                  <ion-icon name="trash-outline" slot="end"></ion-icon>
                </ion-button>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>
  <!-- fin filtros  -->
  <div>
    @for (message of messageList; track $index) {
      @if (message.isNew && !message.listened) {
        <h3 class="heartBeatLetters">¡Nueva!</h3>
      }
      <ion-card (click)="selectMessage(message)" [class.highlightedCard]="message.isNew && !message.listened">
        <ion-card-header>
          <div style="display: flex; justify-content: space-between;">
            <ion-card-title>{{ message.title }}</ion-card-title>
            @if (isAuthUser) {
              <ion-icon slot="end" name="pencil-outline" size="small" color="primary" (click)="editMessage(message, $event)"></ion-icon>
            }
          </div>
          <ion-card-subtitle>
            <div class="flexSB">
              <div>{{ message.book.name}}</div>
              <div>{{ message.date| date:'dd/MM/yyyy' }}</div>
            </div>
          </ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <div class="flexSB">
            @if (message.speaker.id === 5) {
            <ion-text>{{ message.note }}</ion-text>
            } @else {
            <ion-text>{{ message.speaker.name }}</ion-text>
            }
            <div>
              <!-- <a [href]="message.url"
                    ><ion-icon name="headset-outline"></ion-icon
                  ></a> -->
              @if(message.listened) {
              <ion-icon name="remove-circle-outline" style="color: #cbb04c; padding: 3px;"
                (click)="removeFromListened(message, $event)"></ion-icon>
              } @else {
              <ion-icon name="play-circle-outline" style="color: #339f51; padding: 3px;"
                (click)="markAsListened(message, $event)"></ion-icon>
              }
              <ion-icon name="share-social-outline" style="color: #4d8dff; padding: 3px;"
                (click)="shareMessage(message, $event)"></ion-icon>
            </div>
          </div>
        </ion-card-content>
        @if(message.listened) {
        <!-- style="background: #b26123 !important;" -->
        <ion-progress-bar value="100" class="my-progress-bar animate-progress"></ion-progress-bar>
      }
    </ion-card>
    } @if (messageList && messageList.length < 1) { <div class="noResult">No se han encontrado resultados
  </div>
  <div div class="refresh">(Desliza para recargar)</div>
  }
  </div>

  @if (selectedMessage) {
      <div style="margin-top: 24vh;"></div>

      <app-mini-audio-player [message]="selectedMessage" (closing)="selectMessage(null)" (touchstart)="preventRefresher($event)"></app-mini-audio-player>
  }

</ion-content>
