.flexSB {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 12px;
  }
}

.divFiltros {
  display: flex;
  justify-content: space-between;
}

.filtros {
  display: flex;
  justify-content: end;
  padding-right: 8px;

  .action {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.btnResetFilters {
  display: flex;
  justify-content: flex-end;
}

.noResult {
  justify-content: center;
  display: flex;
  padding-top: 60px;
}

.refresh {
  justify-content: center;
  display: flex;
  font-size: small;
  font-style: italic;
  margin-top: 7px;
}

.my-progress-bar {
  --progress-background: #b26123;
}
