<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle>
        <ion-img src="../assets/icon/favicon.png" style="width: 35px; margin-left: 10px"></ion-img>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Predicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="messages" (ionScroll)="onScroll($event)" scrollEvents="true">
  <ion-searchbar #searchBar mode="ios" animated="true" placeholder="Buscar por título, autor o libro" show-clear-button="always"
      clear-icon="close-outline" [debounce]="1000" (ionInput)="searchInput($event)"
      [(ngModel)]="searchQuery">
  </ion-searchbar>

  <!-- refresher -->
  <ion-refresher slot="fixed" [disabled]="!networkStatus || !networkStatus.connected" (ionRefresh)="refresh($event); rbSelected = 'all'; searchQuery = ''">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- filtros -->
  <div class="divFiltros">
    <div class="contenedorFiltros">
      <div class="pills">
        <!-- contenedor del pill para poder subrayar borde inferior cuando esta selected -->
        <div [ngClass]="{'borderSelected': rbSelected === 'all'}">
          <div class="btnFiltros"
            [ngClass]="{'btnFiltroSelected': rbSelected === 'all', 'btnFiltroNoSelected': rbSelected !== 'all'}" button
            (click)="rbSelection('all')">
            Todas
          </div>
        </div>

        <div [ngClass]="{'borderSelected': rbSelected === 'pending'}">
          <div class="btnFiltros"
            [ngClass]="{'btnFiltroSelected': rbSelected === 'pending', 'btnFiltroNoSelected': rbSelected !== 'pending'}"
            button (click)="rbSelection('pending')">
            Pendientes
          </div>
        </div>

        <div [ngClass]="{'borderSelected': rbSelected === 'listened'}">
          <div class="btnFiltros"
            [ngClass]="{'btnFiltroSelected': rbSelected === 'listened', 'btnFiltroNoSelected': rbSelected !== 'listened'}"
            button (click)="rbSelection('listened')">
            Escuchadas
          </div>
        </div>
      </div>

      <div class="filtros">
        <div class="action" style="color: white" (click)="showFilterModal($event)">
          <ion-icon name="options-outline" size="medium"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- fin filtros  -->

  @if ((networkStatus && networkStatus!.connected) || core.messageList.length) {

      @if (isLoading && !offset && !messageList.length) {
        @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
          <app-card-message [skeleton]="true"></app-card-message>
        }
  
      } @else {      
        @for (message of messageList; track $index) { 
          @if (message.isNew && !message.listened) {
            <h3 class="heartBeatLetters">¡Nueva!</h3>
          }
          <app-card-message [message]="message"></app-card-message>
        }
      }
  
      @if (!isLoading && messageList.length === 0) {
        <div class="errorDisplayLayout">
          <div>
            <ion-text class="infoSign">
              <p>
                <ion-icon src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><path d='M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z' fill='none' stroke='currentColor' stroke-miterlimit='10' stroke-width='32'/><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32' d='M338.29 338.29L448 448'/><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M176 176l90 90M266 176l-90 90'/></svg>"></ion-icon>
              </p>
              <h3 style="margin-top: -20px;">No se han encontrado resultados</h3>
            </ion-text>
          </div>
        </div>
      }
    
  } @else {
    <div class="errorDisplayLayout">
      <div>
        <ion-text class="infoSign">
          <p>
            <ion-icon src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><path d='M415.82 221a221.72 221.72 0 00-319.64 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M357.65 279a140 140 0 00-203.3 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M297.83 338.83a58.2 58.2 0 00-83.66 0' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M256 416a23.94 23.94 0 1123.94-23.94A24 24 0 01256 416z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/><path d='M48 48L464 464' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/></svg>"></ion-icon>
          </p>
          <h3 style="margin-top: -20px;">No hay conexión a internet</h3>
        </ion-text>
      </div>
    </div>
  }

  <ion-infinite-scroll (ionInfinite)="scrollAndSearch($event)" [disabled]="!hasMoreData || (!networkStatus || !networkStatus.connected)">
    <ion-infinite-scroll-content loadingText="Cargando predicaciones" loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div slot="fixed" class="topScroller" [class.visible]="showScroller" (click)="scrollToTop()">
    <ion-icon name="chevron-up-circle-outline"></ion-icon>
  </div>
</ion-content>