

.divFiltros {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: 6px;
}

.filtros {
  display: flex;
  justify-content: end;
  padding-right: 8px;

  .action {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.contenedorFiltros {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #323c48;
  .pills {
    display: flex;
    padding-left: 8px;
    margin-top: 7px;
    color: white;
    gap: 8px;
    
    // Contenedor individual del botón
    > div {
      position: relative;
      padding-bottom: 8px;
      
      // Creamos la línea invisible
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px; // Grosor del borde
        background-color: var(--ion-color-primary);
        
        // Estado inicial: invisible y escala 0 (comprimido al centro)
        opacity: 0;
        transform: scaleX(0); 
        transform-origin: center;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
    }

    .borderSelected {
      // Cuando está seleccionado, expandimos y mostramos
      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
}
  .btnFiltros {
    border-radius: 25px;
    padding-inline: 12px;
    padding-bottom: 3px;
    padding-top: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnFiltroSelected {
    color: var(--ion-color-primary);
    background-color: var(--ion-card-background);
    font-weight: bold;
    border: 2px solid var(--ion-card-background);
  }

  .btnFiltroNoSelected {
    border: 2px solid #323c48;
    opacity: 0.8;
  }
}

.btnResetFilters {
  display: flex;
  justify-content: flex-end;
}

.noResult {
  justify-content: center;
  display: flex;
  padding-top: 60px;
}

.refresh {
  justify-content: center;
  display: flex;
  font-size: small;
  font-style: italic;
  margin-top: 7px;
}



ion-icon {
  cursor: pointer;
}

.heartBeatLetters {
  margin-top: -25px;
  width: 130px;
  top: 35px;
  right: 50px;
  z-index: 999;
  text-align: right;
  font-family: "IndieFlower", sans-serif;
  font-weight: 800;
  color: var(--ion-color-primary);
  position: relative;
  rotate: -17deg;
  animation: beat 1s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(1.3);
  }
}
