ion-textarea {
    max-height: 180px;
    overflow-y: auto;
}

.badge-verse {
    color: white;
    margin-right: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 25px;
}

ion-button {
    color: white;
}