// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


// src/theme/variables.scss

// Light theme
:root {
    --ion-color-primary: #b26123;
    --ion-color-primary-rgb: 178, 97, 35;
    --ion-color-primary-contrast: #000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #447ce0;
    --ion-color-primary-tint: #5f98ff;
    --ion-color-secondary: #46b1ff;
    --ion-color-secondary-rgb: 70, 177, 255;
    --ion-color-secondary-contrast: #000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #3e9ce0;
    --ion-color-secondary-tint: #59b9ff;
    --ion-color-tertiary: #656668;
    --ion-color-tertiary-rgb: 101, 102, 104;
    --ion-color-tertiary-contrast: #000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #7472dd;
    --ion-color-tertiary-tint: #908ffb;
    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;
    --ion-color-warning: #ffce31;
    --ion-color-warning-rgb: 255, 206, 49;
    --ion-color-warning-contrast: #000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0b52b;
    --ion-color-warning-tint: #ffd346;
    --ion-color-danger: #f24c58;
    --ion-color-danger-rgb: 242, 76, 88;
    --ion-color-danger-contrast: #000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #d5434d;
    --ion-color-danger-tint: #f35e69;
    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #fff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-text-color: #ffffff;

    --ion-item-background: #29333F;
    --ion-toolbar-background: #1f1f1f;
    --ion-card-background: #29333F;
}

// Dark theme
body.dark-theme {
    --ion-color-tertiary: #000000;
    --ion-color-tertiary-rgb: 0, 0, 0;
    --ion-color-tertiary-contrast: #FFFFFF;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;

    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;
    --ion-background-color-step-50: #1e1e1e;
    --ion-background-color-step-100: #2a2a2a;
    --ion-background-color-step-150: #363636;
    --ion-background-color-step-200: #414141;
    --ion-background-color-step-250: #4d4d4d;
    --ion-background-color-step-300: #595959;
    --ion-background-color-step-350: #656565;
    --ion-background-color-step-400: #717171;
    --ion-background-color-step-450: #7d7d7d;
    --ion-background-color-step-500: #898989;
    --ion-background-color-step-550: #949494;
    --ion-background-color-step-600: #a0a0a0;
    --ion-background-color-step-650: #acacac;
    --ion-background-color-step-700: #b8b8b8;
    --ion-background-color-step-750: #c4c4c4;
    --ion-background-color-step-800: #d0d0d0;
    --ion-background-color-step-850: #dbdbdb;
    --ion-background-color-step-900: #e7e7e7;
    --ion-background-color-step-950: #f3f3f3;
    --ion-text-color-step-50: #f3f3f3;
    --ion-text-color-step-100: #e7e7e7;
    --ion-text-color-step-150: #dbdbdb;
    --ion-text-color-step-200: #d0d0d0;
    --ion-text-color-step-250: #c4c4c4;
    --ion-text-color-step-300: #b8b8b8;
    --ion-text-color-step-350: #acacac;
    --ion-text-color-step-400: #a0a0a0;
    --ion-text-color-step-450: #949494;
    --ion-text-color-step-500: #898989;
    --ion-text-color-step-550: #7d7d7d;
    --ion-text-color-step-600: #717171;
    --ion-text-color-step-650: #656565;
    --ion-text-color-step-700: #595959;
    --ion-text-color-step-750: #4d4d4d;
    --ion-text-color-step-800: #414141;
    --ion-text-color-step-850: #363636;
    --ion-text-color-step-900: #2a2a2a;
    --ion-text-color-step-950: #1e1e1e;
    --ion-item-background: #29333F;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #29333F;

    // To enable those styles, check all the app styles
    // --ion-color-dark: #222428;
    // --ion-color-dark-rgb: 34, 36, 40;
    // --ion-color-dark-contrast: #fff;
    // --ion-color-dark-contrast-rgb: 255, 255, 255;
    // --ion-color-dark-shade: #1e2023;
    // --ion-color-dark-tint: #383a3e;
    // --ion-color-light: #f4f5f8;
    // --ion-color-light-rgb: 244, 245, 248;
    // --ion-color-light-contrast: #000;
    // --ion-color-light-contrast-rgb: 0, 0, 0;
    // --ion-color-light-shade: #d7d8da;
    // --ion-color-light-tint: #f5f6f9;
}


body.light-theme {
    ion-toolbar {
        // --background: var(--ion-color-primary);
        --color: var(--ion-color-dark);
    }
}