<ion-app>
  <ion-split-pane contentId="main-content" when="lg">
    <ion-menu menuId="first-menu" contentId="main-content">
    <ion-list>
      <ion-list-header>
        <ion-label>Fernán Núñez Comunidad Cristiana</ion-label>
      </ion-list-header>
      <ion-menu-toggle autoHide="false" *ngFor="let p of accountPages; let i = index">
        <ion-item [routerLink]="p.url">
          <ion-icon slot="start" [name]="p.ionicIcon? p.ionicIcon: ''" [src]="p.ionicIcon? p.ionicIcon: ''"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
       
      </ion-menu-toggle>
      <ion-item  button (click)="isVisible = !isVisible">
        <ion-icon slot="start" name="headset-outline"></ion-icon>
        <ion-label>
          Escuchar
        </ion-label>
        <ion-icon slot="end" name="{{ !isVisible ? 'chevron-down-outline' : 'chevron-up-outline'}}"></ion-icon>
      </ion-item>
      @if(isVisible) {

        <ion-menu-toggle>
          <ion-list style="padding-left: 20px;">
            <ion-item [routerLink]="['/message-list']" button>
              <!-- <ion-icon slot="start" name="book-outline"></ion-icon> -->
              <ion-label>
                Predicaciones
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/message-list']" button>
              <!-- <ion-icon slot="start" name="book-outline"></ion-icon> -->
              <ion-label>
                Curso membresía
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      }
    </ion-list>
  </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
