<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Historial de versículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (!this.core.bible.lastSearchedVerses || !this.core.bible.lastSearchedVerses.length) {
    <app-info-display-layout [infoLayout]="'NoResultsFound'"></app-info-display-layout>
  } @else {
    @for (verse of this.core.bible.lastSearchedVerses; track $index) {
      <ion-card button="true">
        <ion-card-header>
          <div class="cardHeader">
            <ion-badge id="versesPopover{{$index}}" class="badge-verse">
              <span>{{verse}}</span>
            </ion-badge>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p (click)="confirm(verse)"
            [class]="core.settings.bibleFont === 'sans-serif' ? 'bibleSimpleText' : 'bibleAestheticText'"
            [innerHTML]="this.core.bible.normalizeText(this.core.bible.getBibleText(verse, false))">
          </p>
        </ion-card-content>
      </ion-card>
    }
  }
</ion-content>