#bookBadge {
    // margin-top: 10px;
    // margin-bottom:5px;
    display: flex;
    justify-content: center;
    
    // ion-badge {
    //     color: white;
    //     font-size: 15px;
    //     border-radius: 25px;
    //     padding-left: 10px;
    //     padding-right: 10px;
    // }
}

h2 {
    color: white;
    margin-top: 15px;
}

h3 {
    margin-top: -5px;
    // margin-bottom: -10px;
}

#playButton {
    border-radius: 25px;
}