#iconCenteredLayout {
    display: flex;
    justify-content: center;
}

h2 {
    color: var(--ion-color-primary);
    margin-top: 15px;
}

h3 {
    margin-top: -5px;
}

#playButton {
    border-radius: 25px;
}

#questionsDiv {
color: white;
}

.boldText {
    font-weight: 700;
}

ion-card-title {
    font-size: 25px;
}

.badge-verse {
    margin-top: 5px;
}

#audioProgress {
    // --bar-background: #333;
    // --bar-background-active: #1db954;
    --bar-height: 5px;
    // --knob-background: #1db954;
    --knob-size: 14px;
    // --pin-background: #1db954;
    --pin-color: #fff;

    --height: 5px;
    padding: 0;
    margin: 6px 10px 0 10px;
}

#seconds {
    margin-top: -30px
}

#versesLayout {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}