#iconCenteredLayout {
    display: flex;
    justify-content: center;
}

h2 {
    color: var(--ion-color-primary);
    margin-top: 15px;
}

h3 {
    margin-top: -5px;
}

#playButton {
    border-radius: 25px;
}

#questionsDiv {
    color: white;
}

.boldText {
    font-weight: 700;
}

ion-card-title {
    font-size: 25px;
}

.ios .badge-verse {
    margin-top: 10px;
}