#bookBadge {
    // margin-top: 10px;
    // margin-bottom:5px;
    display: flex;
    justify-content: center;
}

h2 {
    // color: var(--ion-color-light);
    margin-top: 15px;
}

h3 {
    margin-top: -5px;
    // margin-bottom: -10px;
}

#playButton {
    border-radius: 25px;
}

@media (width > 600px) {
    .versesPopover {
        --width: 60vw;
    }
}

@media (width > 900px) {
    .versesPopover {
        --width: 40vw;
    }
}

#questionsDiv {
    color: white;
}