@if (message) {
<div #audioPlayer id="audio-player" class="appearAudioPlayer" (click)="tapEvent()">
  <ion-card>

    <audio class="hidden" controls autoplay #audio (play)="core.audio.isPlaying"
      [hidden]="!startPlaying" (playing)="onAudioPlaying()" (seeking)="startPlaying = false"
      (loadedmetadata)="loadMetadata()">
      <progress id="progressBar" [value]="this.core.audio.progress" max="100"></progress>
    </audio>

    <!-- <ion-card-content> -->
      <ion-row>
        <ion-col size="1">
          <div id="audioImg">
            <ion-img src="../assets/icon/favicon.png"></ion-img>
          </div>
        </ion-col>

        <ion-col size="9">
          @if (!startPlaying) {
            <div id="cargando-div">
              <ion-label>Cargando el audio &nbsp;</ion-label>
              <ion-spinner name="dots" color="dark"></ion-spinner>
            </div>

          } @else {
            <div id="info">
              <ion-card-title class="title">{{message.title}}</ion-card-title>
  
              @if (message.speaker.id === 5) {
                <ion-card-subtitle>{{message.note}}</ion-card-subtitle>
              } @else {
                <ion-card-subtitle>{{message.speaker.name}}</ion-card-subtitle>
              }
            </div>
          }
        </ion-col>

        <ion-col size="2" style="display: flex; align-items: center; justify-content: center;">
          <ion-icon [name]="core.audio.isPlaying ? 'pause' : 'play'" (click)="togglePlay()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-range id="audioProgress" [value]="core.audio.progress" (ionChange)="onSeek($event)" min="0" [max]="core.audio.audioDuration"
          step="0.1"></ion-range>
      </ion-row>

    <!-- </ion-card-content> -->
  </ion-card>
</div>
}