@if (message) {
<div #audioPlayer id="audio-player" class="appearAudioPlayer" (click)="tapEvent()">
  <ion-card>
    <ion-card-header>
      <ion-row style="margin-bottom: -10px;">
        <ion-col size="11" class="ion-align-self-start">
          <span class="title">{{message.title}}</span>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="close-outline" class="close-icon" size="large" (click)="closeAudioPlayer()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <div class="speaker">
        <ion-icon name="person-circle-outline" size="medium"></ion-icon>
        @if (message.speaker.id === 5) {
          <span>{{message.note}}</span>
        } @else {
          <span>{{message.speaker.name}}</span>
        }
      </div>

      <div style="display: flex; justify-content: center;">
            <audio controls [class.invertColors]="core.theme === 'light'" [hidden]="!startPlaying" autoplay #audio (playing)="onAudioPlaying()" (seeking)="startPlaying = false">
              <progress id="progressBar" [value]="progress" max="100"></progress></audio>

           @if (!startPlaying) {
            <div id="cargando-div">
              <ion-label>Cargando el audio &nbsp;</ion-label>
              <ion-spinner name="dots" color="dark"></ion-spinner>
            </div>
          }
      </div>
    </ion-card-content>
  </ion-card>
</div>
}