ion-card {
    border-radius: 15px;
    background: rgba($color: var(--ion-color-primary-rgb), $alpha: 0.85);
    opacity: 1;

    ion-card-header {
        padding-bottom: 0;
    }

    ion-card-subtitle {
        color: lightgray;
    }
}

#audio-player {
    position: fixed;
    bottom: 0;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 5px;

    padding-bottom: var(--ion-safe-area-bottom);
    // padding-bottom: env(safe-area-inset-bottom)
}

@media (width < 550px) {
    #audio-player {
        width: 100%;
    }
}

#msg-detail-div {
    display: flex; justify-content: flex-end; padding-top: 7px;
    color: white;
}


.appearAudioPlayer {
    animation: appearAudioPlayerAnimation 1s;
}

@keyframes appearAudioPlayerAnimation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.disappearAudioPlayer {
    animation: disappearAudioPlayerAnimation 1s;
}

@keyframes disappearAudioPlayerAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100px);
    }
}

.title {
    color: white;
    font-size: 17px;
}

.speaker {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 7px;
    color: white;

    ion-icon {
        margin-right: 5px;
    }
}

#cargando-div {
    display: flex;
    color: white;
    align-items: center;
    margin-left: 20px;
    margin-top: 7px;
}

#info {
    margin-left: 20px; margin-top: 2px;
}


#audioImg {
    background-color: white;
    border-radius: 25px;
    width: 41px;
    height: 41px;

    ion-img {
        width: 35px;
        margin-left: 3px;
    }
}

#audioProgress {
    --bar-background: #333;
    --bar-background-active: #1db954;
    --bar-height: 5px;
    --knob-background: #1db954;
    --knob-size: 18px;
    --pin-background: #1db954;
    --pin-color: #fff;

    --height: 5px;
    // padding: 10px 0;
    margin: 0 10px 0 10px;
}